*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

:root {
	--color-bg-primary: #f4f5fb;

	--color-always-white: #ffffff;

	--color-brand: #ca3884;
	--color-brand-hover: #a52c6b;
	--color-danger: #c93847;

	--color-content-primary: #080b12;
	--color-content-secondary: #374151;
	--color-content-tertiary: #9ca3af;

	--color-border-primary: #d1d5db;
	--color-border-hover: #b9c2d0;

	--font-family: "Inter", sans-serif;
	--text-title: 700 1.5rem/2rem var(--font-family);
	--text-label: 600 1rem/1.25rem var(--font-family);
	--text-paragraph: 500 1rem/1.25rem var(--font-family);
	--text-link: 500 0.875rem/1rem var(--font-family);
	--text-input: 400 1rem/1.4 var(--font-family);
}

html,
body {
	overflow-x: hidden;
}

input,
button {
	all: unset;
	font-family: inherit;
}
button {
	cursor: pointer;
}

body {
	background-color: var(--color-bg-primary);
	font-family: var(--font-family);
}

.content {
	width: 23.4375rem;
	height: auto;

	padding-inline: 2rem;
	margin-inline: auto;
}

header {
	padding-top: 2.875rem;

	& img {
		display: none;
	}

	& button {
		font: var(--text-link);
		color: var(--color-brand);

		&:hover {
			color: var(--color-brand-hover);
		}
	}

	& h1 {
		font: var(--text-title);
		color: var(--color-content-primary);

		margin-top: 2rem;
	}
}

.add-item {
	margin-top: 2.75rem;

	& form {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;

		width: 100%;

		& > input {
			box-sizing: border-box;

			color: var(--color-content-secondary);
			font: var(--text-input);

			background-color: var(--color-always-white);

			height: 2.75rem;
			width: 100%;

			border-radius: 0.75rem;
			padding-inline: 1.125rem;

			border: 2px solid var(--color-border-primary);

			&::placeholder {
				color: var(--color-content-tertiary);
			}
		}
		& button {
			font: var(--text-label);
			color: var(--color-always-white);

			background-color: var(--color-brand);

			text-align: center;

			height: 2.75rem;
			width: 100%;

			border-radius: 0.75rem;
		}
	}
}

.item-list {
	margin-top: 2.5rem;
	overflow-y: hidden;

	max-height: 23rem;

	display: flex;
	flex-direction: column;

	& ul {
		overflow-y: auto;
	}

	& li {
		margin-bottom: 8px;

		display: flex;
		flex-direction: row;
		align-items: center;

		height: 3.5625rem;
		gap: 0.75rem;
		padding-inline: 0.75rem;

		background-color: var(--color-always-white);
		border-radius: 0.75rem;

		& .check-item {
			width: 1rem;
			height: 1rem;
			box-sizing: border-box;

			background-image: url(./assets/icons/checkbox-default.svg);
		}
		& .check-item:hover {
			background-image: url(./assets/icons/checkbox-hover.svg);
		}
		& .check-item:checked {
			background-image: url(./assets/icons/checkbox-selected.svg);
		}

		& > span {
			margin-right: auto;
			font: var(--text-paragraph);
			color: var(--color-content-secondary);
		}
	}

	& .exclusion-message {
		height: 2.75rem;
		margin-top: 2.5rem;

		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 0.5rem;

		padding: 0.75rem;
		border-radius: 0.75rem;

		background-color: var(--color-danger);

		& span {
			font: var(--text-label);
			color: var(--color-always-white);

			margin-right: auto;
		}

		& > imput {
			box-sizing: border-box;
		}
		& > button {
			box-sizing: border-box;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}
}

.line-through {
	text-decoration: line-through;
}

.hidden {
	visibility: hidden;
}

@media (width >= 80em) {
	header img {
		display: block;
		margin-inline: auto;
		margin-bottom: 3rem;
	}

	.content {
		width: 39.1875rem;
	}

	.add-item form {
		flex-direction: row;

		& input {
			flex: 2;
		}
		& button {
			flex: 1;
		}
	}
}
